/* .main-box {
    width: 400px;
    height: 300px;
    border: solid 1px black;
    margin: 6px;
    background: black;
    color: white;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
} */